/* TABLE */
.tableContainer {
	position: relative;
	background-color: var(--table-background-color-standard);
	border-radius: var(--table-radius);
	box-shadow: inset 0 0 0 1px var(--table-border-color-standard);
	max-width: fit-content;
	z-index: 1;
	padding: var(--table-padding);
}

.table {
	height: fit-content;
	width: fit-content;
	overflow-x: auto;
	overflow-y: hidden;
	border-collapse: collapse;
	color: var(--table-text-color-standard);
}

.table::before {
	width: calc(100% - var(--table-padding) * 2);
	height: 2.8rem;
	content: '';
	position: absolute;
	top: var(--table-padding);
	left: var(--table-padding);
	background-color: var(--table-header-background-color-standard);
	border-radius: var(--table-header-radius);
	z-index: 2;
}

.table[data-size='xs'] {
	width: 33rem;
	max-width: 33rem;
}

.table[data-size='s'] {
	width: 46rem;
	max-width: 46rem;
}

.table[data-size='m'] {
	width: 62rem;
	max-width: 62rem;
}

.table[data-size='l'] {
	width: 90rem;
	max-width: 90rem;
}

.table[data-size='xl'] {
	width: 100%;
	max-width: 100%;
}

.tableThead {
	text-align: right;
	position: sticky;
	z-index: 3;
}

.tableTheadCell {
	height: 2.8rem;
	padding: 0.78rem 1.5rem 1rem 1.5rem;
}

.tableTBody {
	text-align: right;
}

.tableTBodyRow[data-selected='true'] {
	background-color: var(--table-row-background-color-selected);
}

.tableTBodyRow:hover {
	color: var(--table-row-text-color-hover);
}

.tableTBodyRow[data-selected='true']:hover {
	color: var(--table-row-text-color-selected-hover);
}

/* CURSOR */
.tableTBodyRow[data-allow-selection='single'],
.tableTBodyRow[data-allow-selection='multiple'] {
	cursor: pointer;
}

.tableTBodyCell:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.tableTBodyCell:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.tableTBodyCell {
	height: 2rem;
	padding: 0.125rem 1.5rem;
	max-width: 11.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: transparent;
}

.checkbox {
	width: 1.3rem;
	height: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: var(--table-header-checkbox-radius);
	background-color: var(--table-header-checkbox-background-color-standard);
	color: var(--table-text-color-standard);
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
	padding-top: 0.75rem;
}

.pageInfo {
	margin: 0 1.8rem;
	color: var(--table-pagination-button-text-color-standard);
}

.paginationButton {
	width: 2rem;
	height: 2rem;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0.2rem;
	border-radius: var(--table-pagination-button-radius);
	background-color: var(--table-pagination-button-background-color-standard);
	color: var(--table-pagination-button-text-color-standard);
	cursor: pointer;
}

.paginationButton:active {
	animation: clicky 0.15s ease;
}

.paginationButton:disabled {
	opacity: 0.3;
	cursor: not-allowed;
	animation: none;
}

/* TBODY when Loading */
.loadingTBodyRow {
	min-width: 33rem;
	height: 9rem;
}

.loadingTBodyCell {
	text-align: center;
	vertical-align: middle;
}

/* Button animations */
@keyframes clicky {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.92);
	}
	100% {
		transform: scale(1);
	}
}
